{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta ico>
    <title>{% block title %}{% endblock %} - Veox</title>
    <link rel="icon" type="image/png" href="{% static 'images/logo.png' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light shadow">
        <div class="container">
            <a class="navbar-brand" href="{% url 'index' %}">Veox</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navegacion"
                aria-controls="navegacion" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navegacion">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item"><a class="nav-link" href="{% url 'index' %}">Inicio</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'nosotros' %}">Nosotros</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'noticias' %}">Novedades</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'index' %}">Proyectos</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'contacto' %}">Contacto</a></li>
                </ul>
            </div>
        </div>
    </nav>
    {% block content %}{% endblock %}
    <footer class="bg-dark text-light">
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-3 col-md-3 col-lg-3">
                    <h1>Veox</h1>
                    <p>Veox es una empresa de tecnología que combina el desarrollo de software y hardware con base
                        científica para brindar soluciones disruptivas para problemas de la región.</p>
                    <button type="button" class="btn btn-primary btn-block">Más información</button>
                </div>
                <div class="col-12 col-sm-3 col-md-3 col-lg-3">
                    <h2>Enlaces importantes</h2>
                    <ul class="nav flex-column">
                        <a class="nav-link" href="{% url 'noticias' %}">Noticias</a>
                        <a class="nav-link" href="#">Galería de Fotos</a>
                        <a class="nav-link" href="#">Proyectos</a>
                        <a class="nav-link" href="#">Redes Sociales</a>
                    </ul>
                </div>
                <div class="col-12 col-sm-3 col-md-3 col-lg-3">
                    <h2>Proyectos</h2>
                    <ul class="nav flex-column">
                        <a class="nav-link" href="#">Detección de Embarcaciones Pesqueras</a>
                        <a class="nav-link" href="#">Proyecto Atlantis</a>
                    </ul>
                </div>
                <div class="col-12 col-sm-3 col-md-3 col-lg-3">
                    <h2>Contacto</h2>
                </div>
            </div>
        </div>
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
    <script>
        $('.owl-empresa').owlCarousel({
            loop: true,
            margin: 10,
            nav: false,
            dots: false,
            autoplay: true,
            responsive: {
                0: {
                    items: 1
                },
                600: {
                    items: 2
                },
                1000: {
                    items: 3
                }
            }
        });
        $('.owl-opiniones').owlCarousel({
            loop: true,
            margin: 10,
            nav: false,
            dots: false,
            autoplay: true,
            responsive: {
                0: {
                    items: 1
                },
                600: {
                    items: 1
                },
                1000: {
                    items: 1
                }
            }
        });

        $('.carousel').carousel()
    </script>
</body>

</html>