{% extends 'layout.html' %}

{% load static %}

{% block title %}Misión y Visión{% endblock %}

{% block content %}
<section>
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'index' %}">Inicio</a></li>
                        <li class="breadcrumb-item"><a href="{% url 'nosotros' %}">Nosotros</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Misión y Visión</li>
                    </ol>
                </nav>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-sm-3 col-md-3 col-lg-3">
                <h1>Nosotros</h1>
                <ul class="nav nav-pills flex-column">
                    <li class="nav-item"><a class="nav-link" href="{% url 'nosotros' %}">Sobre Veox</a></li>
                    <li class="nav-item"><a class="nav-link active" href="{% url 'mision_vision' %}">Misión y Visión</a>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="#">Valores</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Nuestro Equipo</a></li>
                </ul>
            </div>
            <div class="col-12 col-sm-9 col-md-9 col-lg-9">
                <h1>Misión y Visión</h1>
                <div>
                    <h2>Misión</h2>
                    <p>"Creemos en el poder de la tecnología para transformar al
                        mundo, por eso creamos software y hardware con base científica
                        para impulsar el desarrollo de la región"</p>
                </div>
                <div>
                    <h2>Visión</h2>
                    <p>"Ser el referente regional de innovación y transferencia tecnológica
                        con base científica en software y hardware"</p>
                </div>
                <div>
                    <h2>Propuesta de valor</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia rerum eum, laborum non porro, tempora distinctio atque magni ratione beatae, qui aspernatur quas? Veritatis veniam odio vero nesciunt, assumenda repellendus?</p>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}