{% extends 'layout.html' %}

{% load static %}

{% block title %}Nuestros Valores{% endblock %}

{% block content %}
<section class="veox-breadcrumb">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'index' %}">Inicio</a></li>
                    <li class="breadcrumb-item"><a href="{% url 'nosotros' %}">Nosotros</a></li>
                    <li class="breadcrumb-item active"><span>Nuestros Valores</span></li>
                </ol>
            </div>
        </div>
    </div>
</section>
<section class="veox-page">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-4 col-lg-3">
                <div class="veox-navigation">
                    <h1>Nosotros</h1>
                    <ul class="nav nav-pills flex-column">
                        <li class="nav-item"><a class="nav-link" href="{% url 'nosotros' %}">Sobre Veox</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'mision_vision' %}">Misión y Visión</a>
                        </li>
                        <li class="nav-item"><a class="nav-link active" href="{% url 'valores' %}">Nuestros Valores</a>
                        </li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'equipo' %}">Nuestro Equipo</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-8 col-lg-9">
                <h1>Nuestros Valores</h1>
                <div>

                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}